<!-- ======= Hero Section ======= -->
<section id="hero" style="height: 100vh;" class="d-flex flex-column justify-content-center align-items-center">
	<%= render 'alerts'%>
	<div class="container">
		<div class="row col-md-12">
			<div class="container text-center text-md-left col-md-5" data-aos="fade-up">
		    <%= render 'enquiry_form'%>
			</div>
			<div class="container text-center text-md-left col-md-7" data-aos="fade-up">
			  <h1>Save Big on your travel</h1>
			</div>
		</div>
	</div>
</section>
<!-- End Hero -->

<!-- <div class="trustpilot" style="text-align: center;background: #144e88;">
    <img src="<%= asset_path('trustpilot-logo.png') %>" style="margin: 0 auto;text-align: center;display: block;">
    <a style="display: inline-block;margin: 20px 0;color: #fff;text-decoration: underline;" href="https://www.trustpilot.com/review/onairdream.com" target="_blank">View our reviews/ provide your review</a>
</div>
 -->
<main id="main">

	<!-- ======= Portfolio Section ======= -->
	<%= render 'partials/portfolios' %>

	<!-- ======= Why Choose Us Section ======= -->
	<%= render 'partials/why_choose_us' %>

	<!-- ======= Services Section ======= -->
	<%= render 'partials/services' %>

	<!-- ======= About Section ======= -->
	<%= render 'partials/about-section' %>

	<!-- ======= Blogs Section ======= -->
	<%#= render 'partials/blogs' %>


</main><!-- End #main