<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col footer-links">
          <div class="logo me-auto">
            <h4>
              <a href="/">
                <img style="max-height: 30px;" src="<%= asset_path("onairdream_icon.png") %>" alt="On Air Dream, cheap flights" title="onAirDream">
              </a><span class="footer-logo" >n<span style="color:#fcb839">air</span>dream</span>
            </h4>
          </div>
          <ul>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="<%= contact_us_path %>">Contact us</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Cancellation Policy</a></li>
            <li><a href="<%= blogs_path %>">Blogs</a></li>
            <li><a href="#">Disclaimer</a></li>
          </ul>
        </div>

        <div class="col footer-links">
          <h4>Popular destinations</h4>
          <ul>
            <% @destinations.each do |location| %>
              <li><a href="#">Flights to <%= location %></a></li>
            <% end %>
          </ul>
        </div>

        <div class="col footer-links">
          <h4>POPULAR AIRLINES</h4>
          <ul>
            <% @airlines.each do |airline| %>
              <li><a href="#"><%= airline %></a></li>
            <% end %>
          </ul>
        </div>

        <div class="col footer-links">
          <h4>MORE TRAVEL OPTIONS</h4>
          <ul>
            <li><a href="#">Chicago to Hyderabad Flights</a></li>
            <li><a href="#">New York to Delhi Flights</a></li>
            <li><a href="#">Boston to Mumbai Flights</a></li>
            <li><a href="#">San Francisco to Ahmedabad Flights</a></li>
            <li><a href="#">Orlando to Delhi Flights</a></li>
            <li><a href="#">Los Angeles to Hyderabad Flights</a></li>
            <li><a href="#">Chicago to Chennai Flights</a></li>
            <li><a href="#">Houston to Delhi Flights</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>onAirDream</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://onairdream.com/">onAirDream</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
