<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo me-auto">
    	<h1>
				<a href="/">
					<img style="max-height: 55px;" src="<%= asset_path("onairdream_logo.png") %>" alt="On Air Dream, cheap flights" title="onAirDream">
				</a>
			</h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <!-- <li><a class="nav-link scrollto active" href="#hero">Home</a></li> -->
        <li><a class="nav-link scrollto" href="<%= flights_path %>">Flights</a></li>
        <li><a class="nav-link scrollto" href="<%= canada_to_india_path %>"><span class="canada">CANADA</span>-<span class="india">INDIA</span></a></li>
        <li><a class="nav-link scrollto" href="<%= business_class_path %>">Business class</a></li>
        <li><a class="nav-link scrollto" href="<%= last_minute_path %>">Last Minute Deals</a></li>
        <li><a class="nav-link scrollto" href="<%= blogs_path %>">Blog</a></li>
        <li><a  style="color: green;" class="nav-link scrollto" href="<%= win_cash_path %>">Win a Cash!</a></li>
        <li class="call_link" ><i class="blink fa fa-phone-square fa-2x"></i><a class="nav-link scrollto" href="tel:9646612142">+91-9646612142</a></li>
        <!-- <li style="display: flex;align-items: center;" ><i class="bi bi-twitter"></i><a style="padding-left: 0px;" class="nav-link scrollto" href="<%= contact_us_path %>">+91-9646612142</a></li> -->
      </ul>
      <i class="bi bi-list mobile-nav-toggle" onclick="mobile_nav(this)"></i>
    </nav><!-- .navbar -->

<!--     <div class="header-social-links d-flex align-items-center">
      <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
    </div>
 -->

  </div>
</header><!-- End Header -->

<script>
  function mobile_nav(_this){
    document.getElementById('navbar').classList.toggle('navbar-mobile');
    _this.classList.toggle('bi-list');
    _this.classList.toggle('bi-x');
  }
  </script>