<!DOCTYPE html>
<html>
  <head>
    <title>OnAirDream</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Favicons -->
    <link href="<%= asset_path("onairdream_icon.png") %>" rel="icon">
    <link href="<%= asset_path("onairdream_icon.png") %>" rel="apple-touch-icon">
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'header'%>
    <%= yield %>
    <%= render 'footer'%>
  </body>
</html>
